.container-fluid .col-md-8{overflow-y: scroll;height: 98vh;}
.container-fluid .col-md-4{overflow-y: scroll;height: 98vh;}
.container-fluid .text-white{height: 50px;}
.text-white .col-md-12{margin-top: 10px;}
.fa-play{margin-left: 10px;}
.mb-2{height: 50px;}
.Marked{color: #F8CF46;}
.Attempted{color: #4882F7;}
.Unattempted{color: black;}
.Unseen{color: lightgray;}
.questionsummary{font-size: 18px;margin-top: 15px;}
.finalstatus{margin-top: 20px;}
.finalstatus .Marked{margin-left: 10px;}
.finalstatus .Attempted{margin-left: 40px;}
.finalstatus .Unattempted{margin-left: 40px;}
.finalstatus .Unseen{margin-left: 40px;}
.questiondetail{margin-top: 20px;}
.yellow{border-radius: 100px;padding: 5px;border: 2px solid; text-align: center;border-color: #F8CF46;margin-top: 10px;cursor: pointer;}
.blue{border-radius: 100px;padding: 5px;border: 2px solid;text-align: center;border-color: #4882F7;margin-top: 10px;cursor: pointer;}
.black{border-radius: 100px;padding: 5px;border: 2px solid;text-align: center;border-color: black;margin-top: 10px;cursor: pointer;}
.lightgray{border-radius: 100px;padding: 5px;border: 2px solid;text-align: center;border-color: lightgray;margin-top: 10px;cursor: pointer;}
hr{box-shadow: 0px 0px 4px 0px #a5a0a0;}
.pre{font-size: 40px;color:#4882F7;}
.circlecheck{margin-left:55px;font-size: 40px;color:#F8CF46;}
.next{text-align: center;font-size: 40px;color:#4882F7;}
.submitbutton .btn-primary{float: left;  font-size: 20px;padding-left: 30px;padding-right: 30px;}
.questiondetail .col-md-2{margin-left: -10px;}
.questiondetail .row{margin-left: 10px;}
.bg-white .col-md-1{width:25%!important;float: left!important; }
.bg-white .col-md-11{width:75%!important;float: left!important; }
.bg-white .col-md-6{width:50%!important;float: left!important;}
.questiondetail .col-md-2{width:15%!important;float: left!important;}
.fixed-bottom .col-md-3{width:20%!important;float: left!important;}

@media only screen and (max-width: 400px){
	.questiondetail .yellow, .blue, .black, .lightgray{padding: 0px;font-size: 12px;}
	.container-fluid {overflow: scroll;height: 100%;}
	.circlecheck{margin-left: 0px;}
	.submitbutton .btn-primary{font-size: 10px;padding-left: 22px;padding-right: 22px;}
	.pre{font-size: 49px;}
	.circlecheck{font-size: 49px;}
	.next{font-size: 49px;}
	.fixed-bottom .row{margin-top: 10px;margin-left: 20px;}
	.submitbutton{margin-top: 10px;}
}
@media only screen and (max-width: 600px){
	.questiondetail .yellow, .blue, .black, .lightgray{padding: 2px;font-size: 12px;}
	.container-fluid {overflow: scroll;height: 100%;}
	.circlecheck{margin-left: 0px;}
	.submitbutton .btn-primary{font-size: 10px;padding-left: 22px;padding-right: 22px;}
	.pre{font-size: 49px;}
	.circlecheck{font-size: 49px;}
	.next{font-size: 49px;}
	.fixed-bottom .row{margin-top: 10px;margin-left: 20px;}
	.submitbutton{margin-top: 10px;}
}

